include MANIFEST.in
include LICENSE
include CHANGELOG.md
include README.md
include OSX_launcher

include Responder/Responder.conf
include Responder/certs/*
include Responder/files/*
include Responder/logs/*
